@media (min-width: 900px) {
  #first-row-team {
    padding-bottom: 3rem;
  }

  .img-references {
    height: 400px;
    max-width: unset;
  }
}

#pesquisa {
  min-height: 500px;

  table {
    width: 100%;
  }

  .full-width {
    width: 100%;
    padding-top: 5px;
  }
}

.menu_reference_container {
  display: flex;
  width: 100%;
  padding-right: 20px;
}

.menu_reference_container button {
  margin: 0px 10px 0px 10px;
}