@media (min-width: 900px) {
  #first-row-team {
    padding-bottom: 3rem;
  }

  .img-references {
    height: 400px;
    max-width: unset;
  }
}

#pesquisa {
  min-height: 500px;

  table {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
}

.menuReference {
  display: flex;
  width: 100%;
  padding-right: 20px;
  button {
    margin: 0px 10px 0px 10px;
  }
}

.mat-column-keywords {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18% !important;
  width: 18% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-url {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 35% !important;
  width: 35% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
