<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3 text-white">
                Sistema que reúne e consulta links de referências
                <span>sobre os mais diversos assuntos de tecnologia. Mantido e atualizado de forma colaborativa.</span>
              </h1>
              <p class="lead text-white">
                Construído com o framework Angular na versão 9, com código aberto e disponível para melhoria contínua pela comunidade. Existem três formas de contribuir, veja abaixo.
              </p>
              <div class="btn-wrapper">
                <a
                  href="/#pesquisa"
                  class="btn btn-info btn-icon mb-3 mb-sm-0"
                >
                  <span class="btn-inner--icon"
                    ><i class="fa fa-code"></i
                  ></span>
                  <span class="btn-inner--text">Pesquisar links</span>
                </a>
                <a
                  href="https://github.com/atomiccstudio/referencias-tecnologia-atomicc"
                  target="_blank"
                  class="btn btn-white btn-icon mb-3 mb-sm-0"
                >
                  <span class="btn-inner--icon"
                    ><i class="ni ni-cloud-download-95"></i
                  ></span>
                  <span class="btn-inner--text">Ver repositório</span>
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <img src="./assets/img/together-building.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="icon icon-shape icon-shape-primary rounded-circle mb-4"
                  >
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Adicionando links</h6>
                  <p class="description mt-3">
                    Contribua adicionando novos links no arquivo json. Você pode adicionar um link num tópico já existente, ou criar um novo.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-primary">growth</span>
                    <span class="badge badge-pill badge-primary"
                      >enlargement</span
                    >
                    <span class="badge badge-pill badge-primary">addition</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4"
                    >Saiba  mais</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="icon icon-shape icon-shape-success rounded-circle mb-4"
                  >
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Fazendo melhorias</h6>
                  <p class="description mt-3">
                    Contribua melhorando o código e/ou as funcionalidades já existentes, ou a usabilidade e experiência do usuário.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-success">improvement</span>
                    <span class="badge badge-pill badge-success">correction</span>
                    <span class="badge badge-pill badge-success">enhance</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-success mt-4"
                    >Saiba  mais</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div
                    class="icon icon-shape icon-shape-info rounded-circle mb-4"
                  >
                    <i class="ni ni-planet"></i>
                  </div>
                  <h6 class="text-info text-uppercase">Criando novas features</h6>
                  <p class="description mt-3">
                    Contribua desenvolvendo novas funcionalidades para melhorar ainda mais esse projeto que é de/para todos nós.
                  </p>
                  <div>
                    <span class="badge badge-pill badge-info"
                      >creation</span
                    >
                    <span class="badge badge-pill badge-info">increase</span>
                    <span class="badge badge-pill badge-info">launch</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-info mt-4"
                    >Saiba  mais</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section  id="contribuicao" class="section pt-lg-0">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img
            src="./assets/img/img-references.png"
            class="shadow-lg rounded img-fluid floating img-references"
          />
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div
              class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5"
            >
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Como contribuir</h3>
            <p>
              Já pensou que massa ter um único local onde as pessoas compartilham os links de conteúdos gratuitos que lhe ajudaram? E se além da listagem desses links, fosse possível filtrar com um campo de pesquisa? Essa é a proposta desse projeto. Vamos melhorar isso juntos? Veja como contribuir!
            </p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Dê um fork no repositório e o clone localmente. </h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Conecte seu local com o repositório original (upstream) o adicionando como remoto através do comando <strong>git remote add upstream https://github.com/atomiccstudio/referencias-tecnologia-atomicc.git
                    </strong>.
                    </h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Mantenha seu repositório forkado sempre <strong>atualizado com o repositório original</strong>. <a target="_blank" href="https://blog.da2k.com.br/2014/01/19/manter-repositorio-github-forkado-sincronizado-com-o-original/">Saiba como aqui.</a>
                    </h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Crie sua branch a partir da branch principal que se chama <strong>main</strong> (o github aboliu o uso da palavra <strong>master</strong>).</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Execute o comando <strong>npm install</strong> ou <strong>ng serve</strong> para instalar as dependências.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Execute o comando <strong>npm run start:local</strong> para rodar aplicação.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Adicione links úteis sobre qualquer assunto de tecnologia no arquivo <strong>references.ts</strong> adicionando palavras-chave para cada link. Como nesta imagem.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Se quiser, você também pode contribuir desenvolvendo melhorias ou novas funcionalidades.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Abra um pull request para a branch <strong>main</strong> com suas modificações.</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="hacktoberfest" class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-primary shadow border-0">
            <img
              src="./assets/img/hacktoberfest.png"
              class="card-img-top"
            />
            <blockquote class="card-blockquote pt-0">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="svg-bg"
              >
                <polygon points="0,52 583,95 0,95" class="fill-primary" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">
                Hacktoberfest
              </h4>
              <p class="lead text-italic text-white">
                "Todo ano, no mês de outubro, a Digital Ocean organiza um evento chamado Hacktoberfest, com intuito de fomentar e movimentar a comunidade open source, sendo também um evento para pessoas que estão iniciando a contribuição em projetos Ocean Source."
                Como incentivo, o Digital Ocean presenteia com 1 kit bem legal composto por uma camisa e adesivos aqueles que se cadastrarem no site e fizerem 4 pull requests no mês de outubro.
              </p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div
              class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5"
            >
              <i class="ni ni-atom"></i>
            </div>
            <h3>Porque contribuir na comunidade open source?</h3>
            <p class="lead">
              "Um projeto open source é, resumidamente, um projeto criado e mantido pelas pessoas que o utilizam. 
              Digamos que você tenha um campo de futebol open source perto de sua casa: uma pessoa vai ajudar a cortar a grama, outra ajuda a pintar as marcações, outro ajuda a regar, mais alguém traz a bola e todos podem jogar! É um sistema colaborativo de crescimento de software.
              Contribuir para o open source pode ser uma maneira gratificante de aprender, ensinar e construir experiência em praticamente qualquer habilidade que você possa imaginar.
              Além de tudo, você pode interagir com profissionais reais do mercado e consultá-los para tirarem suas dúvidas, fazerem análise de código e darem dicas para você melhorar." <a target="_blank" href="https://www.zup.com.br/blog/hacktoberfest-2020-como-participar-projetos-open-source">(Créditos)</a> 
            </p>
            <a
              href="javascript:void(0)"
              class="font-weight-bold text-warning mt-5"
              >Saiba mais</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="pesquisa" class="section pt-1 pb-3 bg-gradient-info">
    <div class="container">
      <div class="row pt-5 row-grid align-items-center">
        <div class="col-lg-12 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div
                class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-info">
                <i class="ni ni-active-40 text-info"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Pesquise referências</h4>
              <h5 class="text-white">
                Você pode pesquisar por qualquer uma das colunas. E fique a vontade para contribuir no repositório adicionando novos links.
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-5 mb-5">
        <div class="col-lg-12 card shadow shadow-lg--hover mt-5 pb-3 pt-2">
          <div class="row pt-2">
            <div class="menu_reference_container">
              <div>
                <button class="btn btn-lg btn-outline-primary" type="button" (click)="openDialog()">Contribuir</button>
              </div>
              <mat-form-field class="full-width">
                <mat-label>Digite ao menos 3 caracteres</mat-label>
                <input matInput placeholder="Ex. Cloud" [(ngModel)]="searchParams" #ctrl="ngModel" (ngModelChange)="filterLinks()">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef class="pr-5"> Título </th>
                <td mat-cell *matCellDef="let element" class="pr-5"> {{element.title}} </td>
              </ng-container>
            
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef class="pr-5"> Tipo </th>
                <td mat-cell *matCellDef="let element" class="pr-5"> {{element.type}} </td>
              </ng-container>
             
              <ng-container matColumnDef="keywords">
                <th mat-header-cell *matHeaderCellDef class="pr-5"> Assuntos </th>
                <td mat-cell *matCellDef="let element" class="pr-5"> {{element.keywords}} </td>
              </ng-container>
            
              <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef> URL </th>
                <td mat-cell *matCellDef="let element"> <a href="{{element.url}}" target="_blank">{{element.url}}</a> </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section id="equipe" class="section">
    <div class="container">
      <div class="row justify-content-center text-center mb-sm">
        <div class="col-lg-8">
          <h2 class="display-3">Equipe</h2>
          <p class="lead text-muted">
            Integrantes do <strong>Atomiccas</strong>, coletivo de mulheres profissionais da tecnologia que trabalham no <strong>Atomicc Studio</strong>. Responsáveis por esse projeto, bem como pela aprovação dos pull requests.
          </p>
        </div>
      </div>
      <div class="row" id="first-row-team">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <a [routerLink]="['/profile/elaine']">
              <img
              src="./assets/img/team/elaine.manoelle.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              style="width: 200px"
            />
            </a>
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Elaine Manoelle</span>
                <small class="h6 text-muted">Web Developer</small>
              </h5>
              <div class="mt-3">
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/elainemanoelle/"
                  class="btn btn-primary btn-icon-only rounded-circle"
                >
                  <i class="fa fa-linkedin"></i>
                </a>
                <a
                  target="_blank"
                  href="https://github.com/elainemanoelle"
                  class="btn btn-primary btn-icon-only rounded-circle"
                >
                  <i class="fa fa-github"></i>
                </a>
                <a
                  target="_blank"
                  href="https://instagram.com/ladylaay_elaine"
                  class="btn btn-primary btn-icon-only rounded-circle"
                >
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <a [routerLink]="['/profile/tathi']">
              <img
                src="./assets/img/team/tathi.jpeg"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                style="width: 200px"
              />
            </a>
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Tathiane Pinto</span>
                <small class="h6 text-muted">Web Developer</small>
              </h5>
              <div class="mt-3">
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-warning btn-icon-only rounded-circle"
                >
                  <i class="fa fa-linkedin"></i>
                </a>
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-warning btn-icon-only rounded-circle"
                >
                  <i class="fa fa-github"></i>
                </a>
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-warning btn-icon-only rounded-circle"
                >
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <a [routerLink]="['/profile/ana']">
              <img
                src="./assets/img/team/ana.jpeg"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                style="width: 200px"
              />
            </a>
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Ana Elisa</span>
                <small class="h6 text-muted">UI/UX Designer</small>
              </h5>
              <div class="mt-3">
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-info btn-icon-only rounded-circle"
                >
                  <i class="fa fa-linkedin"></i>
                </a>
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-info btn-icon-only rounded-circle"
                >
                  <i class="fa fa-twitter"></i>
                </a>
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-info btn-icon-only rounded-circle"
                >
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <a [routerLink]="['/profile/mercia']">
              <img
                src="./assets/img/team/mercia.jpeg"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                style="width: 200px"
              />
            </a>
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Mércia Oliveira</span>
                <small class="h6 text-muted">Web Developer</small>
              </h5>
              <div class="mt-3">
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-danger btn-icon-only rounded-circle"
                >
                  <i class="fa fa-linkedin"></i>
                </a>
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-danger btn-icon-only rounded-circle"
                >
                  <i class="fa fa-github"></i>
                </a>
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-danger btn-icon-only rounded-circle"
                >
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <a [routerLink]="['/profile/myllena']">
              <img
                src="./assets/img/team/myllena.jpeg"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                style="width: 200px"
              />
            </a>
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Myllena Almeida</span>
                <small class="h6 text-muted">Web  Developer</small>
              </h5>
              <div class="mt-3">
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-default btn-icon-only rounded-circle"
                >
                  <i class="fa fa-linkedin"></i>
                </a>
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-default btn-icon-only rounded-circle"
                >
                  <i class="fa fa-github"></i>
                </a>
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-default btn-icon-only rounded-circle"
                >
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <a [routerLink]="['/profile/camila']">
              <img
                src="./assets/img/team/camila.jpeg"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                style="width: 200px"
              />
            </a>
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Camila Rose</span>
                <small class="h6 text-muted">Web Developer</small>
              </h5>
              <div class="mt-3">
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-success btn-icon-only rounded-circle"
                >
                  <i class="fa fa-linkedin"></i>
                </a>
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-success btn-icon-only rounded-circle"
                >
                  <i class="fa fa-github"></i>
                </a>
                <a
                  target="_blank"
                  href="javascript:void(0)"
                  class="btn btn-success btn-icon-only rounded-circle"
                >
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">
                Nós criamos esta aplicação para te incentivar a contribuir em projetos open source.
              </h3>
              <p class="lead text-white mt-3"> 
                É muito fácil contribuir aqui. Basta adicionar links úteis de referências num arquivo json. Nossa aplicação lê esse json e o transforma numa base de dados para consultas. E se quiser, você também pode contribuir fazendo melhorias.
              </p>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a
                target="_blank"
                href="https://github.com/atomiccstudio/referencias-tecnologia-atomicc"
                class="btn btn-lg btn-block btn-white"
                >Ver repositório</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section  id="atomiccas" class="section bg-gradient-primary">
    <div class="container pb-5">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-success">Atomiccas</h2>
          <p class="lead text-white">
            Somos um coletivo de mulheres de TI que trabalham na Accenture, comprometido em dar empoderar e dar protagonismo as mulheres, mas não só à elas. Queremos criar oportunidades para TODOS. Apesar do coletivo se chamar AtomiccAs e ser liderado por mulheres, homens são muito bem vindos tanto para participar das nossas ações, quanto para construi-las junto com a gente. Nosso principal pilar é construção coletiva, por isso open source tem tudo a ver com a gente.
          </p>
        </div>
      </div>
      <div class="row text-center justify-content-center pt-3">
        <div class="col-md-4 pt-4 bg-gradient-white rounded shadow-lg">
          <img src="./assets/img/atomiccas.png" height="300" alt="Atomiccas">
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4 text-center">
          <div
            class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-success"
          >
            <i class="ni ni-settings text-success"></i>
          </div>
          <h5 class="text-success mt-3"><strong>Empoderamento</strong></h5>
          <p class="text-white mt-3">
            O nosso propósito é encorajar, acolher e engajar pessoas para garantir o seu desenvolvimento pessoal e profissional nos pilares de carreira, bem estar e lazer.
          </p>
        </div>
        <div class="col-lg-4 text-center">
          <div
            class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-success"
          >
            <i class="ni ni-atom text-success"></i>
          </div>
          <h5 class="text-success mt-3"><strong>União</strong></h5>
          <p class="text-white mt-3">
            Acreditamos no quão longe podemos ir se formos juntas. Enxergamos umas as outras como parceiras, e levamos a frase 'uma sobe e puxa a outra' muito a sério.
          </p>
        </div>
        <div class="col-lg-4 text-center">
          <div
            class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-success"
          >
            <i class="ni ni-ruler-pencil text-success"></i>
          </div>
          <h5 class="text-success mt-3"><strong>Construção coletiva</strong></h5>
          <p class="text-white mt-3">
            Liderança horizontal e construção coletiva são dois dos nossos lemas. Independente de cargo ou nível de carreira, todas podem contribuir ativamente.
          </p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
</main>
