@media (min-width: 900px) {
  #first-row-team {
    padding-bottom: 3rem;
  }

  .img-references {
    height: 400px;
    max-width: unset;
  }
}

#pesquisa {
  min-height: 500px;

  table {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
}
