<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="logos d-flex align-items-center flex-column">
                <img src="./assets/img/atomiccas.png" style="width: 200px;" class="pt-3 px-2 img-fluid bg-gradient-white rounded shadow-lg">
                <img src="./assets/img/atomicc-studio.svg" style="width: 200px;" class="mt-3 py-2 px-2 img-fluid bg-gradient-white rounded shadow-lg">
              </div>
              <p class="lead text-white">Style guide do sistema que reúne e consulta links de referências
                sobre os mais diversos assuntos de tecnologia. Mantido e atualizado de forma colaborativa.</p>
              <div class="btn-wrapper mt-5">
                <a [routerLink]="['/homepage']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--text">Visitar aplicação</span>
                </a>
                <a href="https://github.com/atomiccstudio/referencias-tecnologia-atomicc" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Nos dê um star</span> no Github</span>
                </a>
              </div>
              <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">*Orgulhosamente criado e mantido por Atomiccas & Atomicc Studio</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <app-sections></app-sections>
</main>
