<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div *ngIf="data" class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img [src]="data.photo" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <!-- COMENTADO PARA POSTERIOR IMPLEMENTAÇÃO
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Acompanhar</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Mensagem</a>
              </div> -->
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="d-flex justify-content-center">
                <div class="px-2 py-4" *ngFor="let item of data.socialNetworks">
                  <a
                  target="_blank"
                  [href]="item.url"
                  class="btn btn-primary btn-icon-only rounded-circle"
                  >
                  <i [class]="item.icon"></i>
                </a>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{data.name}}</h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{data.city}}, {{data.state}}</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{data.role}}</div>
            <h6>
              <i class="ni education_hat mr-2"></i>
              {{data.company}}<span class="font-weight-light">, {{data.office}}</span>
            </h6>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>{{data.bio}}</p>
                <a [href]="data.urlReadMore" target="_blank">Ver mais</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!data" class="px-4 py-5 text-center">
          Nenhum dado encontrado para essa pessoa! =(
        </div>
      </div>
    </div>
  </section>
</main>
